# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files and project files from past sessions
.Rdata
*.Rproj
.Rproj.user

# PDFs and other output files
*.pdf
*.txt
*.xlsx
*.xls